//Mixins
$breakpoints: (
	"phone":        320px,
	"phone-wide":   480px,
	"phablet":      560px,
	"tablet-small": 640px,
	"tablet":       768px,
	"tablet-medium":992px,//.container{ width:970px}
	"tablet-wide":  1024px,
	"desktop":      1200px,
	"desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {
	 $width: map_get($breakpoints, $width);
	//@if $type == max {
	//	$width: $width - 1px;
	// }
	 @media only screen and (#{$type}-width: $width) {
		@content;
	 }
	}
}


//Colors
$dark-grey: #828282;
$lite-green: #2cc7c1;
$lite-blue: #7ea4e8;


$body-font-color: $dark-grey;
$general-fire-color:$lite-green;
$register-btn:$lite-blue;


/* ============================================================
													General style
=============================================================== */

body{
	background: white;
	font-family: 'Ubuntu', sans-serif;
	font-size:16px;
	color:$body-font-color;
}

img{
	max-width:100%;
	height:auto;
}

h1,h2,h3,h4{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}

h1{
	font-size: 30px;

	@include mq('phone-wide'){
		font-size: 26px;
	}

}

h2{
	font-size: 22px;
	margin-top: 0;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 17px;
}

.tab-margin{
	margin-top: 20px;
	@include mq('tablet-medium'){
		margin-top: 0;
	}
}

/* Buttons */
	.register-btn,
	.discover-btn{
		display: block;
		border-radius: 5px;
		max-width: 75%;
		max-height: 49px;
		width: 100%;
		margin: 0 auto;
		padding: 13px 0;
		transition: all 0.5s;
		text-transform: uppercase;
		text-align: center;
		color: white;

		&:hover{
			text-decoration:none;
		}

		@include mq('tablet'){
			display: inline-block;
			max-width: 157px;
		}

	}

	a.register-btn,
	a.discover-btn{
		color: white;
	}

	.register-btn{
		background-color: $register-btn;
		margin-bottom: 15px;

		&:hover{
			background-color: darken($register-btn,35%);
		}

		i{
			margin-left: 5px;
		}
	}

	.discover-btn{
		background-color: #6a7079;
		&:hover{
			background-color: darken( #6a7079,15%);
		}
	}

/* Links */
.link-bold{
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	font-size:17px;
	color:$general-fire-color;
	margin-top: 35px;
	span{
		text-decoration: uppercase;
	}
}

/* Bold text */
.text-weight-bold{
	font-weight:bold;
}

/* ============================================================
													Header
=============================================================== */

.wrapper-header{
	background: #525b64 url(../images/topbg.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	width:100%;
	height:100vh;
	min-height: 455px;

	@include mq('tablet'){
		min-height: 625px;
	}
}

.header{
	position:absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	max-width: 615px;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;

	@include mq('tablet'){
		width: 100%;
	}

	h1{
		font-size: 1.5em;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		@include mq('tablet'){
			font-size: 31px;
		}
	}

	p{
		font-size: 1em;
		@include mq('tablet'){
			font-size: 1.25em;
		}
	}

	.section-btn{
		margin-top:38px;
	}

	.register-btn{

		margin-bottom: 15px;
		@include mq('tablet'){
			margin-right: 29px;
			margin-bottom: 0;
		}
	}


}

/* ============================================================
													Main
=============================================================== */

.main-goals,
.events,
.promo-video,
.event-gallery,
.form-section{

	padding-top:60px;
	line-height:25px;

	@include mq('tablet-wide'){
		padding-top:105px;
	}
	

	.entry-text{
		max-width:100%;
		@include mq('desktop'){
			max-width:465px;
		}

		p{
			margin-bottom: 0;
		}
	}

	h2{
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	h3{
		font-family: 'Ubuntu', sans-serif;
		margin-bottom: 25px;
		line-height: 30px;
	}

	h4{
		font-family: 'Ubuntu', sans-serif;
		margin: 0 auto 25px;
		line-height:25px;
	}

	.tabs{
		border: 3px solid #ececec;
		border-radius: 0;

		.nav-tabs li{
			background-color:#ececec;
		}

		.nav-tabs li a,
		.nav-tabs li.active a,
		.nav-tabs li.active a:hover,
		.nav-tabs li.active a:focus{
			border: 0;
			border-radius: 0;
			font-family: 'Ubuntu', sans-serif;
			font-weight: 700;
			font-size: 18px;
		}

		.nav-tabs li a{
			color:#abb1ba;
		}

		.nav-tabs li.active a{
			color:#9097a1;
		}

		.nav>li>a {
			padding: 16px 15px;
		}

		.tab-pane {
			padding: 30px 20px 37px;
		}
	}
}

.main-goals{

		.tab-content {

			.col-xs-5,
			.col-xs-7{
				@include mq('phablet', max){
					width:100%;
				}
			}

			ul{
				margin-left: 30px;
				margin-bottom: 0;
			}

			li{
			position: relative;
			line-height: 30px;

				i{
					position: absolute;
					left: -24px;
					top: 8px;
					color: #2cc7c1;
					font-size: 16px;
					color:$general-fire-color;
				}
			}
		}
}

.speakers-title{
	padding-top: 60px;
	padding-bottom: 60px;

	@include mq('tablet-medium'){
			padding-top: 120px;
			padding-bottom: 65px;
	}

	h1{
		text-transform: uppercase;
		margin: 0 auto 10px;
	}
	p{
		font-size: 22px;
	}
}

.speakers-list{


	.col-sm-6{
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3){
			margin-bottom: 40px;
		}

		@include mq('tablet-medium'){
			margin-bottom: 0;
		}
	}

	h4{
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		font-weight: 500;
		margin : 27px auto 20px;
	}

	a:focus{
		outline: 0;
		text-decoration: none;
	}

	p{
		line-height:25px;
		margin: 0;
	}

	.item{
		position:relative;

		a{
			display: block;
			color:$body-font-color;
			transition: all 0.3s;

			&:hover{
				color:$general-fire-color;
				text-decoration: none;

				.back-side{
					opacity:1;
				}
			}
		}
	}

	.back-side {
		width: 140px;
		height: 140px;
		position:absolute;
		top: 0;
		right: 50%;
		transform: translate(50%);
		background-color:rgba( $general-fire-color, 0.7 );
		border-radius:50%;
		opacity:0;
		transition:all 0.3s;

		i{
			font-size: 40px;
			color:white;
			margin-top: 50px;
		}
	}

}

.speaker-register{
	max-width:560px;
	margin: 0 auto;
	padding-top:60px;
	padding-bottom:60px;

	@include mq('tablet-medium'){
		padding-top:70px;
		padding-bottom:92px;
	}

	p{
		margin: 0 auto 25px;
		font-size: 22px;
		line-height:30px;
	}
}

.events{
	border-top: 8px solid #f0f0f1;

	.link-bold i{
		margin-right:5px;
	}

	.nav-tabs{
		background-color: #ececec;
	}

	.tab-collapse{
		margin-bottom: 22px;
	}

	.time{
		background-color: $general-fire-color;
		color:#fff;
		font-size: 17px;
		font-weight: 500;
		padding: 5px 8px;
		border-radius: 2px;
		margin-right: 22px;
	}

	a.collapse-link{
		display: block;
		color:#747a84;
		font-size: 15px;
		font-weight: 500;

		&:hover{
			color:#747a84;
		}

		@include mq('tablet'){
			display: initial;
		}

	}

	.collapse-state{
		color:$general-fire-color;
	}
	.collapse p{
		color: #999;
	}
}

.promo-video{
	i{
		margin-left: 5px;
	}
}

.event-gallery{
	padding-bottom:80px;

	@include mq('phone-wide'){
		padding-bottom:136px;
	}

	i{
		margin-left: 5px;
	}

	.carousel{
		border-radius:4px;
	}

	.carousel-inner{
		
		.bgslide{
			min-height:250px;
			background-repeat:no-repeat;
			background-size:cover;
			border-radius: 4px;

			@include mq('phablet'){
				min-height:316px;
			}
		}
	}

	.carousel-indicators{
		width: auto;
		bottom: 18px;
		left:0;
		margin: 0 0 0 18px;

		.active{
			background-color: $general-fire-color;
		}

		li{
			width: 17px;
			height: 17px;
			border: 3px solid $general-fire-color;
			margin: 0;
		}

	}
}

.form-section{
	background-color: #f3f3f3;
	padding-top:60px;
	padding-bottom: 60px;
	@include mq('tablet-wide'){
		padding-top:140px;
		padding-bottom: 140px;
	}
	.title{
		text-align: center;
		margin-bottom: 52px;
	}
	h1{
		margin-top: 0;
		margin-bottom: 17px;
	}
	h3{
		font-size: 22px;
	}
	.register-btn{
		max-width: 75%;
		max-height: 49px;
		width: 100%;
		display: block;
		margin-top: 25px;
		border: 0;
		@include mq('tablet-medium'){
			margin-top: 0;
			display: inline-block;
			max-width: 157px;
		}
	}
	.form-wrapper{
		background-color: white;
		border-radius: 5px;
		padding: 50px 48px 35px 48px;

		input,
		select{
			height: 49px;
			background-color: #efefef;
			border: 2px solid transparent;
			box-shadow: none;
			color: #6a7079;
			font-size: 18px;
			padding: 13px 22px 13px 10px;
		}
		select{
			cursor: pointer;
		}
		input{
			color:#6a7079;
			&:focus{
				border-color: $general-fire-color;
				background-color: white;
			}
		}
		/* Need add 1 by line for correctly work */
		input::-webkit-input-placeholder { color: #bebebe;}
		input::-moz-placeholder { color: #bebebe;}
		input:-ms-input-placeholder { color: #bebebe;}
		input:-moz-placeholder { color: #bebebe;}
	}

/* Fix bug in validate-bootstrap-form plugin with another icons of bootstrap */
	.fa-check-circle,
	.fa-times {
		top: 17px;
		right: 14px;
		font-size: 17px;
		z-index: 3;
		opacity: 0;
	}

	.has-success input.form-control:focus,
	.has-error input.form-control:focus{
		border: 2px solid #95e3e0;
		box-shadow:none;
	}

	.has-success {

		.fa-check-circle {
			opacity: 1;
			color:$general-fire-color;
		}

		.fa-times{
			opacity: 0;
		}

	}

	.has-error {

		.fa-check-circle {
			opacity: 0;
		}

		.fa-times{
			opacity: 1;
		}

	}

/* Select in form */

	.bootstrap-select {

		button{
			background-color: #efefef;
			box-shadow: none;
			border: 0;
			max-height: 49px;
			width: 100%;
			margin: 0 auto;
			padding: 11px 0;

			&:focus{
				outline: 0!important;
			}
		}

		.caret{
			border-top: 6px solid #219d99;
			border-top: 6px solid #219d99;
			border-right: 6px solid transparent;
			border-left: 6px solid transparent;
		}

	}

	.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
		border-bottom: 0;
	}

	.bootstrap-select.btn-group .dropdown-toggle .filter-option{
		font-size: 18px;
		padding: 0 15px;
	}

	.bootstrap-select.btn-group .dropdown-menu{

		margin: 15px 0 0 0;
		padding: 0;
		background: #525b64;

		ul{
			margin: 0;
		}
	}

	.bootstrap-select.btn-group .dropdown-menu .glyphicon{
		color:#525b64;
	}

	.bootstrap-select.btn-group .dropdown-menu li{
		&:hover{

			a{
				background: #2d3339;
			}

			.glyphicon{
				color:#2d3339;
			}

		}

		a{
			padding: 16px;
			color: white;
		}
	}

	.bootstrap-select.btn-group .dropdown-menu li.selected a{
		color:#32bbb6;
	}

	.input-group {
		width: 100%;
	}

}
.partners .col-md-12{
	height: 300px;
	background: url(/images/sponsor_facebook.png) no-repeat 50% 10%,
				url(/images/sponsor_jquery.png) no-repeat 50% 30%,
				url(/images/sponsor_envato.png) no-repeat 50% 50%,
				url(/images/sponsor_envato.png) no-repeat 50% 70%,
				url(/images/sponsor_jquery.png) no-repeat 50% 90%;

	@include mq('tablet'){
		height: 300px;
		background-position: 20% 20%,
							 80% 20%,
							 20% 70%,
							 80% 70%,
							 50% 50%;
	}

	@include mq('tablet-wide'){
		height: 170px;
		background-position: 0 50%,
							 25% 50%,
							 50% 50%,
							 75% 50%,
							 100% 50%;
	}

}

.map{
	max-height:673px;
}

#map-container{
	height:673px;
}

/* ============================================================
													Footer
=============================================================== */

.footer{
	background-color: #525b64;

	.general-hue-color{
		color:#2cc7c1;
	}

	.info{
		padding-top: 80px;
		padding-bottom: 70px;

		@include mq('phone-wide'){
			padding-top: 90px;
		}
	}

	.text-weight-bold{
		margin-right: 5px;
	}

	h3{
		color:#dadbdd;
		font-size: 22px;
		margin: 0 auto 20px;

		@include mq('phone-wide'){
			font-size: 25px;
		}

	}

	p{
		color: #93989d;
		line-height: 1.56;
	}

	.soc-like{
		margin-bottom: 25px;

		@include mq('tablet-wide'){
			margin-bottom: 0;
		}

	}

	.help > div{

		margin-bottom: 25px;

		@include mq('tablet-wide'){
			max-width: 277px;
			float: right;
			margin-bottom: 0;
		}

		a{
			@extend .general-hue-color;
		}

	}

	.get-in-touch{
		font-size: 18px;
		font-weight: 500;
		line-height: 1.8;
		a{
			@extend .general-hue-color;
		}

		i{
			margin-right:10px;
			font-size: 20px;
		}
	}

	.get-in-touch > div{

		text-align: center;

		@include mq('tablet-wide'){
			text-align: initial;
			max-width: 177px;
			float: right;
		}

	}

	.social-btn{
		margin-top: 20px;
		img{
			margin-right: 18px;
		}
	}

	.copyright{
		background-color: #3f464c;
		font-size: 14px;
		color: #8f9294;
		padding: 9.5px 0;

		p{
			margin: 0;
		}
	}

}