//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

//Colors

$black-lite: #607d8b;
$black-transparent:rgba(96, 125, 139, 0.55);
$green-medium: #009688;
$purple-hue: #3f51b5;
$purple-medium: #655FB2;
$purple-dark: #3B4189;
$purple-lite: #A8A9EC;


$dark-grey: #828282;


// Section colors
$section1-bg-color:white;
$section2-bg-color:$purple-hue;
$section3-bg-color:$green-medium;
$section4-bg-color:$purple-medium;
$section5-bg-color:$purple-lite;
$section6-bg-color:$purple-dark;


$body-font-color: $dark-grey;
//$general-fire-color:$lite-green;


